body {
  color:white;
  margin-top: 5rem;  
  background-image: url('https://i.pinimg.com/originals/3b/3e/b7/3b3eb747883ccecc0a2d1f42b2573adc.jpg');
  background-repeat: no-repeat;
  background-size: 1600px 1000px;
  background-attachment: fixed;

}

html{
  font-family:'Poppins';
}

p{
  color:white;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

ul {
  margin: 0;
}

.bg-steel {
  color:black;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background:rgba(0,0,0,0.8);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 30px;
  margin-bottom: 20px;
  color:white;
  margin-left:40px;
}

.post-title {
  color: white;
  font-family: 'Poppins';
  padding-left: 20px;

}



.post-content {
  font-size:37%l;
  color: white;
  font-family: 'Poppins';
  white-space: pre-line;
  padding-left:17px;
  padding-top:100px;

}

.article-img {
  height: 20px;
  width: 20px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  opacity:100%;
  font-family:Poppins;
}
.post{
  background:rgba(20, 20, 20, 0.7);
  padding-top:20px;
  padding-bottom:20px;
  margin-top:50px;
  border: 2px solid white;
  border-radius: 30px;
}

.post-author{
  color:white;padding-left:20px;
  font-family:'Helvetica';
  font-weight: bold;
  padding-bottom:15px;
  font-size: x-large;
}

.list-group{
  background:black;
}

